<a href="https://colab.research.google.com/github/indr2019/Board-Infinity-homework/blob/master/Lecture_2_Home_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **TASK 1** 'if/else statement'

In [0]:
age = int(input('Enter your age: '))

if age >= 18:
  print('Adult')

else:
  print('Teenager')

Enter your age: 16
Teenager

In [0]:
sal = int(input('Enter your salary: '))

if sal > 100000:
  ongoing_loan = str(input('Do you have an ongoing loan?: '))
  if ongoing_loan == 'Yes':
    print('Im sorry your loan is rejected')
  else:
    print("Congrats!Loan approved")
else:
  print('Sorry your loan is rejected')

Enter your salary: 55000
Sorry your loan is rejected

In [0]:
gender = str(input('Are you a female?: '))

if gender == 'Yes':
  print('You are a Girl')
else:
  print('You are a boy')

Are you a female?: Yes
You are a Girl

### **TASK 2** 'Loops'

In [0]:
rand_num = [6,8,5,40,89,10,11,15,26,83,12,96]

# printing numbers in the list
for i in (rand_num):
  print(i)

6
8
5
40
89
10
11
15
26
83
12
96

In [0]:
# printing only the even numbers
for i in (rand_num):
  if i%2==0:
    print(i)

6
8
40
10
26
12
96

In [0]:
# creating a dictionary 'myself'

myself = {'name': 'abcde',
          'age': 32,
          'gender': 'Male',
          'favorite food': 'barbeque'}

# using 'for' loop to print only keys
for vals in myself.keys():
  print(vals)
  
print('\n')

# using 'for' loop to print only the keys
for vals in myself.values():
  print(vals)

name
age
gender
favorite food


abcde
32
Male
barbeque

### **TASK 3** 'Methods| Functions'

In [0]:
# taking a name as argument and returing the same
def name(name):
  return name

name('Indranil')

'Indranil'

In [0]:
# function to print only keys of a dictionary
student = {'name': 'sumit',
           'age': 27,
           'gender': 'male',
           'height': 157,
           'weight': 64}

def stud_dict(stud):
  return stud.keys()

stud_dict(student)

dict_keys(['name', 'age', 'gender', 'height', 'weight'])

In [0]:
# function to print only odd numbers from a list

nums = [1,2,3,4,5,6,7,8,9,10]

def odd_nums(nums):
  for i in nums:
    if i%2 != 0:
      print(i)

odd_nums(nums)

1
3
5
7
9

### **TASK 4** 'Type conversion'

In [0]:
# declaring four variables

name = 'abcde'
age = 27
height = '6.2'
male = True

In [0]:
# 1. integer to float
print(float(age))
type(float(age))

27.0

float

In [0]:
# 2. string to integer
print(int(height))
type(int(height))

6

int

In [0]:
# 3. integer to string
str(age)

'27'

In [0]:
type(str(age))

str

In [0]:
# boolean to string
str(male)

'True'

In [0]:
type(str(male))

str

### **TASK 5** 'Class Inheritance'

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score